#PopupItem {
  position: fixed;
  left:400px;
  top:30%;
  width: 150px;
  max-height: 320px;
  border: 2px solid;
  background-color: #29394b;
  padding: 10px;
  color: #bdc2c5;
}
h2 {
  font-size: 1.6em;
  flex: 1;
}
.closeButton {
  position: absolute;
  top:0px;
  right:0px;
  display: block;
  background-color: #ec4342;
  padding: 4px;
  font-size: .8em;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}