<div [hidden]="isExist()" id="PopupItem">
  <h2>{{ mediaItem ? mediaItem.name :''}}</h2>
  <mw-popup-image  *ngFor="let imageItem of imageItems"
  [imageItem]="imageItem"
  ></mw-popup-image>
   <a class="details">
    =>
  </a>
  <a class="Preview" >
    =<
  </a>
   <!--<img src="media/popup-03.png" class="icon" />-->
  <div>Watched on {{ mediaItem ? mediaItem.watchedOn:'' }}</div>
  <div>{{ mediaItem ? mediaItem.category:'' }}</div>
  <div>{{ mediaItem ? mediaItem.year:'' }}</div>
  <a class="closeButton" (click)="onClose()">Close</a>
</div>